/* src/index.css */
@import "tailwindcss/preflight";
@import "tailwindcss";
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  min-height: 100vh;
}
button {
  all: unset;
  cursor: pointer;
}



.btn-unselected {
  background-color: #6a6a6a;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: 500;
  transition: background-color 0.2s;
}

.btn-unselected:hover:not(:disabled) {
  background-color: #707070; /* blue-500 */
}

.btn-unselected:disabled {
  opacity: 0.5;
}

.btn-selected {
  background-color: #2563eb;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: 500;
  transition: background-color 0.2s;
}

.btn-selected:hover:not(:disabled) {
  background-color: #3b82f6; /* blue-500 */
}

.btn-selected:disabled {
  opacity: 0.5;
}

.btn-primary {
  background-color: #2563eb !important; /* blue-600 */
  color: white !important;
  padding: 0.5rem 1rem !important;
  border-radius: 0.25rem !important;
  font-weight: 500 !important;
  transition: background-color 0.2s !important;
}

.btn-primary:hover:not(:disabled) {
  background-color: #3b82f6 !important; /* blue-500 */
}

.btn-primary:disabled {
  opacity: 0.5 !important;
}